header{
    background-color:blue;
    text-align: center;
    color: white;
    height: 150px;
    padding-top: 40px;
    
}

#toparticle{
    background: gray;
    height: 25px;
    font-size: 20px;
    color: white;
}